@model Book

@{
    ViewData["Title"] = "Book Details";
}

<div class="container card">
    <h2>Book Details</h2>

    <div class="row">
        <div class="col-md-4">
            <img width="300" src="data:image;base64,@Convert.ToBase64String(Model.ImageData)" />
        </div>
        <div class="col-md-8">
            <h3>Title : @Model.Title</h3>
            <p>Genre : @Model.Genre</p>
            <p>Description : @Model.Description</p>
            @if (Model.Available.ToLower() == "yes")
            {
                <p class="text-success fw-bold">Available: @Model.Available</p>
                <button class="btn btn-success" onclick="showReservationForm()">Reserve this book</button>

                <div id="reservationForm" style="display: none;">
                    <form id="reservationForm" asp-action="ReserveForm" asp-controller="Reserve" method="post" class="mt-3">
                        <input type="hidden" name="bookId" value="@Model.Id" />
                        <div class="mb-3">
                            <label for="date" class="form-label">Date:</label>
                            <input type="date" class="form-control" id="date" name="date" required />
                        </div>
                        <div class="mb-3">
                            <label for="duration" class="form-label">Duration:</label>
                            <input type="number" class="form-control" id="duration" name="duration" required />
                        </div>
                        <button type="submit" class="btn btn-primary">Confirm Reservation</button>
                    </form>
                </div>
            }
            else
            {
                <p class="text-danger fw-bold">Available: @Model.Available</p>
                <a class="btn btn-danger disabled" href="#">Reserve not allowed (this book not Available) !!!!</a>
            }
        </div>
    </div>
</div>

<script>
    function showReservationForm() {
        const form = document.getElementById('reservationForm');
        form.style.display = 'block';
    }
</script>
